html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    position: fixed;
    overflow-y: scroll;

    margin: 0px;
    min-height: 100%;
    width: 100%;

    color: rgba(0,0,0,.5);
    text-align: center;
    top: 15%;
}

h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 4rem;
    text-shadow: 2px 3px 0px #898999;

    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /*text-transform: uppercase;*/
    letter-spacing: .1em;
    width: 100%;
}

h2 {
    font-family: 'EB Garamond', serif;
}

h3 {
    font-family: 'EB Garamond', serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

#random {
    margin: 20px;
    height: 50px;
    width: 180px;

    border-radius: 50px;
    background: beige;

    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    text-transform: uppercase;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 180px;
    height: 40px;

    margin: 20px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}